/**************/
/* common */
/**************/
/* * {
    margin: 0;
    padding: 0;
} */
body {
    margin: 0;
    font-family: 'PT Serif', serif;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
    /* background-color: red; */
    overflow: hidden;
}

.pc {
    display: none !important;
}

a {
    text-decoration: none;
}

a:hover,
.common-btn:hover {
    opacity: 0.9;
}

.common-heading {
    font-size: 20px;
    text-align: center;
    color: #103c42;
    margin-top: 0;
}

.common-btn {
    background-color: #f04e23;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/**************/
/* header*/
/**************/
header {
    background-color: #e3e7e8;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header .nav-box {
    position: absolute;
    background-color: #f04e23;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 10px 0;
    /* display: none; */
    transform: translateY(-300px);    
    transition: all 0.3s ease;
    opacity: 0;
}
header .nav-box.active {
    /* display: block; */
    transform: translateY(0);    
    opacity: 1;
}

header .nav-box ul {
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;
}

header .nav-box ul a {
    display: block;
    display: block;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

header .nav-box ul a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

header img {
    height: 30px;
}

header .menu-btn {
    font-size: 20px;
    background: none;
    border: none;
}

/**************/
/* banner */
/**************/
.banner {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 28px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 40px;
}

/**************/
/* programme */
/**************/
.programs {
    background-color: #eef8f0;
    padding: 40px 0;
}

.programs .program figure {
    margin: 0;
}

.programs .program img {
    width: 100%;
    display: block;
}

.programs .program .text {
    padding: 30px 20px;
    background-color: #e3e7e8;
}

.programs .program h4 {
    color: #f04e23;
    margin: 0;
}

.programs .program ul {
    list-style-position: inside;
    padding: 0;
}

.programs .program a {
    font-size: 11px;
    color: #f04e23;
}

.programs .admission {
    margin: 50px -30px 0;
}
.programs .admission .common-btn {
    margin-top: 50px;
}
.programs .admission .content {
    background-color: #235d75;
    padding: 30px 40px;
    text-align: center;
}

.programs .admission .content .field {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.programs .admission .content .field label {
    width: 30%;
    color: white;
    text-align: left;
}

.programs .admission .content .field input {
    width: 70%;
    padding: 10px;
    background: none;
    border: 1px solid white;
}

/**************/
/* researches */
/**************/

.researches {
    background-color: #252525;
    padding: 40px 0;
}

.researches .common-heading {
    color: #ffffff;
}

.researches .research img {
    width: 100%;
    display: block;
}

.researches .research figure {
    margin: 0;
}

.researches .research .content {
    background-color: #e3e7e8;
    padding: 30px 20px;
}

.researches .research .content h4 {
    margin-top: 0;
}

.researches .research a {
    font-size: 11px;
    color: #f04e23;
}

/**************/
/* news&event */
/**************/
.news-event {
    padding: 40px 0;
}

.news-event .event {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-event .event:nth-child(3) {
    margin-bottom: 0;
}

.news-event .event .text {
    width: 36%;
    background-color: #235d75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* min-height: 205px; */
}

.news-event .event .text h1 {
    margin: 0;
    font-size: 60px;
    display: flex;
    align-items: center;
}

.news-event .event .text p {
    padding: 0 10px;
}

.news-event .event .text h1 span {
    font-size: 12px;
}

.news-event .event figure {
    margin: 0;
    width: 60%;
}

.news-event .event figure {
    background-size: cover;
    background-position: center;
}

.news-event .event:nth-child(1) figure {
    background-image: url("../images/lib.jpg");
}

.news-event .event:nth-child(2) figure {
    background-image: url("../images/people.jpg");
}

.news-event .event:nth-child(3) figure {
    background-image: url("../images/boys.jpg");
}

.news-event .event:nth-child(4) figure {
    background-image: url("../images/zell.jpg");
}

.news-event .event img {
    width: 100%;
    display: block;
}

/**************/
/* footer */
/**************/
footer .common-heading {
    color: #eff9f1;
    text-align: left;
}
footer .top .about p{
    line-height: 27px;
}
footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    /* padding: 0; */
}

footer .top {
    padding: 40px 0;
    background-color: #2d322e;
    color: #eff9f1;
}

footer .top .about ul {
    margin-bottom: 40px;
}

footer .top .about ul li {
    display: inline-block;
}

footer .top .about ul li a {
    color: #2d322e;
    background-color: #fff;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    text-decoration: none;
    margin-right: 10px;
}

footer .top .about ul li i {
    font-size: 15px;
    /* margin: 10px; */
}

footer .top .contact ul {
    margin-bottom: 0;
    line-height: 35px;
}

footer .top .contact i {
    color: #f04e23;
    margin-right: 15px;
    width: 10px;
}

footer .top .contact a {
    color: white;
}

footer .bottom {
    padding: 10px;
    text-align: center;
}

@media only screen and (min-width: 992px) {

    /**************/
    /* common */
    /**************/
    .pc {
        display: block !important;
    }

    .common-heading {
        margin-bottom: 35px;
    }

    /**************/
    /* header */
    /**************/
    header {
        background-color: transparent;
    }

    header .menu-btn {
        display: none;
    }

    header .nav-box {
        position: static;
        background-color: transparent;
        transform: translateY(0);
        opacity: 1;
    }

    header .nav-box ul li {
        display: inline-block;
    }

    header .nav-box ul li a {
        padding: 0;
        margin-left: 20px;
    }

    /* header nav ul {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        list-style: none;

    }

    header nav ul li {
        font-size: 20px;
        margin: 15px;
    }

    header nav ul li a {
        color: white;
    }

    header nav ul li a:hover {
        color: #f04e23;
    } */

    /**************/
    /* banner */
    /**************/
    .banner {
        margin-top: -50px;
        padding: 160px 0;
    }

    .banner h1 {
        line-height: 55px;
        font-size: 45px;
        margin-bottom: 30px;
    }

    .banner p {
        font-size: 30px;
    }

    /**************/
    /* program */
    /**************/
    .programs .container {
        display: flex;
        justify-content: space-between;
    }

    .programs .programs-outer {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .programs .programs-outer .program {
        width: 48%;
    }

    .programs .admission {
        width: 37%;
        margin: 0;
        background-color: #235d75;
        padding: 30px 0;
    }

    .programs .admission .common-heading {
        color: white;
        margin-bottom: 0;
    }

    /**************/
    /* research */
    /**************/

    .researches .container {
        display: flex;
        justify-content: space-between;
    }

    .researches .research {
        width: 32%;
    }

    .researches .research .content p {
        min-height: 70px;
    }

    /**************/
    /* news&event*/
    /**************/
    .news-event .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .news-event .event {
        display: flex!important;
        margin-bottom: 35px;
        width: 48%;
    }

    .news-event .event:nth-child(3) {
        margin-bottom: 35px;
    }

    .news-event .event .text {
        width: 60%;
        padding-left: 20px;
        align-items: flex-start;
        box-sizing: border-box;
    }

    .news-event .event .text p {
        padding: 0;
    }

    .news-event .event figure {
        width: 36%;
    }

    /**************/
    /*footer */
    /**************/
    footer .top .container {
        display: flex;
    }

    footer .top .about {
        width: 50%;
        padding-right: 430px;
    }

    footer .top .contact {
        width: 50%;
    }
    
    footer .bottom {
        padding: 20px 0;
        font-size: 18px;
    }
}