/**************/
/* common */
/**************/
/* * {
    margin: 0;
    padding: 0;
} */
body {
    margin: 0;
    font-family: 'PT Serif',
    serif;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1200px;
    /* background-color: red; */
    overflow: hidden;
}

.pc {
    display: none;
}

a:hover, .common-btn:hover {
    opacity: 0.9;
}

.common-heading {
    font-size: 20px;
    text-align: center;
    color: #103c42;
    margin-top: 0;
}

.common-btn {
    background-color: #f04e23;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    font-size: 19px;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/**************/
/* header*/
/**************/
header {
    background-color: #e3e7e8;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

header img {
    height: 30px;
}

header .menu-btn {
    font-size: 20px;
    background: none;
    border: none;
}

/**************/
/* banner */
/**************/
.banner {
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 28px;
}

.banner p {
    font-size: 20px;
    margin-bottom: 40px;
}

/**************/
/* programme */
/**************/
.programs {
    background-color: #eef8f0;
    padding: 40px 0;
}

.programs .program figure {
    margin: 0;
}

.programs .program img {
    width: 100%;
    display: block;
}

.programs .program .text {
    padding: 30px 20px;
    background-color: #e3e7e8;
}

.programs .program h4 {
    color: #f04e23;
    margin: 0;
}

.programs .program ul {
    list-style-position: inside;
    padding: 0;
}

.programs .program a {
    font-size: 11px;
    color: #f04e23;
}

.programs .admission {
    margin: 50px -30px 0;
}
.programs .admission .content {
    background-color: #235d75;
    padding: 30px 20px;
    text-align: center;
}
.programs .admission .content .field {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.programs .admission .content .field label {
    width: 30%;
    color: white;
}
.programs .admission .content .field input {
    width: 70%;
    padding: 10px;
    background: none;
    border: 1px solid white;
}

/**************/
/* programme */
/**************/

.researches {
    background-color: #252525;
    padding-bottom: 30px;
}
.researches .common-heading {
    color: #ffffff;
    margin: 0;
    padding: 20px;
    
}
.researches .research img {
    width: 100%;
    display: block;
}
.researches .research figure {
    margin: 0;
}
.researches .research .content {
    background-color: #e3e7e8;
    padding: 25px;
}
.researches .research  a {
    font-size: 11px;
    color: #f04e23;
}

/**************/
/* news&event */
/**************/
.news-event .event {
    display: flex;
}
.news-event h3 {
    padding-top: 15px;
}
.news-event .event .text {
    width: 40%;
    background-color: #235d75;
}
.news-event .event figure {
    margin: 0;
}
.news-event .event img{
    width: 60%;
}

/**************/
/* footer */
/**************/
 footer {
    background-color: #2d322e;
    color: #eff9f1;
 }
 footer .footer-heading {
      color: #eff9f1;
      font-size: 20px;
      text-align: left;
 }
 footer ul {
     padding: 0;
 }
footer ul li {
    list-style: none;
    /* padding: 0; */
}
footer .top .about ul li {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: inline-block;
    background-color: #fff;
    padding: 8px;
    text-align: center;
    /* padding: 0; */
}
footer .top .about ul a {
    color: #2d322e;
}
footer .top .about ul li i {
    font-size: 15px;
    /* margin: 10px; */
}
footer .top .contact i {
    color: #f04e23;
    margin-right: 15px;
}
footer .top .contact a {
    color: white;
}
footer .bottom {
    padding: 10px;
    background: grey;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 992px) {

    .pc {
        display: block;
} 
.body {
    margin: 0 auto;
}

a {
   text-decoration: none; 
}
header .menu-btn {
    display: none;

}
header nav ul {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    list-style: none;
    
}

header nav ul li {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 15px;
}
header nav ul li a {
    color: white;
}
header nav ul li a:hover {
    color: #f04e23;
}

/**************/
/* banner */
/**************/
.banner {
    margin-top: -50px;
    padding: 160px 0;
    
}
.banner h1 {
      line-height: 55px;
      font-size: 45px;
      margin-bottom: 30px;
      font-weight: bold;
}
.banner p {
    font-size: 30px;
    margin-top: 30px;
}

/**************/
/* program */
/**************/







/**************/
/* research */
/**************/




.researches .research {
    width:30%;
    float: left;
}

















}